@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 225 73% 57%;
    --primary-foreground: 0 0% 100%;

    --secondary: 225 15% 96%;
    --secondary-foreground: 0 0% 0%;

    --muted: 225 15% 96%;
    --muted-foreground: 225 10% 45%;

    --accent: 225 15% 96%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 225 10% 90%;
    --input: 225 10% 90%;
    --ring: 225 73% 57%;

    --radius: 0.5rem;

    --pix: 153 100% 33%;
    --pix-foreground: 0 0% 100%;

    --footer: 0 0% 0%;
    --footer-foreground: 0 0% 100%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 225 5% 26.1%;
    --sidebar-primary: 225 73% 57%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 225 10% 95.9%;
    --sidebar-accent-foreground: 225 73% 57%;
    --sidebar-border: 225 13% 91%;
    --sidebar-ring: 225 73% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
